@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

/*320px-480px: Mobile devices
481px-768px: iPads, Tablets
769px-1024px: Small screens, laptops
1025px-1200px: Desktops, large screens
1201px and more: Extra large screens, TV*/

html {
    height: 100%;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 165%;
    /*background: linear-gradient(#9795EF, #F9C5D1);
    min-height: 200vh;/* face pagina sa fie mai lunga incat sa dai scroll*/
}

/*header starts*/

header {
    display:flex;
    justify-content:center;
    padding: 0px;
    width: 100vw;
    position: fixed;
    bottom: 0px;
    left: 0;
    align-items: center;
    z-index: 100000;
    box-shadow: 1px 4px 15px -4px rgba(0,0,0,0.49);
    -webkit-box-shadow: 1px 4px 15px -4px rgba(0,0,0,0.49);
    -moz-box-shadow: 1px 4px 15px -4px rgba(0,0,0,0.49);
}

.nav-list {
    background: #C39BD3;
    width:inherit;
    justify-content:space-around;
    height:inherit;
    margin:0;
    padding:0;
}

header ul {
    position: relative;
    display: flex;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header .logo {
    font-weight: 700;
    color: #5c1b1b;;
    text-decoration: none;
    font-size: clamp(1rem, 1.5vw, 2rem);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 2px;
}

li .nav-link img {
    width:25px;
    height:auto;
}

 .logo-img {
    display: none;
}

.nav-link {
    cursor: pointer;
}

 header ul li a span {
    display: none;
    position: relative;
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    letter-spacing: 2px;
 }

  header ul li a .username {
      font-size: .8rem;
      width: 130px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: lightgray;
  }
    #SignIn,
    #SignOut {
    position: absolute;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
}

/*header ends*/


.result {
    background: transparent;
    position: center;
    table-layout: fixed;
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    text-align: center;
}

.body-process {
    background: linear-gradient(rgba(245, 246,252,0.52), rgba(117, 19, 93, 0.73)), url("../images/path/to/image/welcome.webp") center no-repeat fixed;
    background-attachment: fixed;
    background-position-y: 50px;
    background-size: cover;
}

.loggin-message {
    align-content: center;
    text-decoration: none;
    transform: translate(350px, 250px);
}

.home {
    display: flex;
    background: linear-gradient(rgba(245, 246,252,0.52), rgba(117, 19, 93, 0.73)), url("../images/path/to/image/airplane_towards_the_sky.webp") center no-repeat fixed;
    background-attachment: fixed;
    background-size: cover;
    background-position: top 60px right 0px;
}

/*.home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.home::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}*/

.background {
    display: flex;
    justify-content: center;
}


.welcome {
    font-family: 'Nunito', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: absolute;
    top:15%;
    backdrop-filter: blur(3px);
}

.welcome-subtitle {
    font-family: 'Nunito', sans-serif;
    position: absolute;
    font-size: 1.2em;
    top: 23%;
    color: rgb(134, 0, 179);
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    transform: translateY(280px);
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}

.container .card {
    position: relative;
    width: 280px;
    height: 400px;
    margin:30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.container .card .content {
    padding: 20px;
    text-align: center;
    transform: translateY(80px);
    opacity: 1;
    transition: 0.5s;
}

.container .card:hover .content {
    transform: translateY(0px);
    opacity: 1;
}

.container .card .content .imgbx {
    position: relative;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, 0.25);
    transform: translateX(40%);
}

.container .card .content .imgbx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .card .content h2 {
    position: absolute;
    top: -63px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}

.container .card .content h3 {
    font-size: 1.8em;
    color: #fff;
    z-index: 1;
}

.container .card .content p {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}

.container .card .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.sign-in-msg {
    transform:translateX(150px);
}

.nav-list {
    transition: initial;
}

.nav-link,
.current {
    color: #fafafa;
    position: relative;
}

.nav-link::before,
.current::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -.5rem;
    background-color: #eb648c;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 650ms;
}

.current::before {
    transform: scaleX(1);
}

.nav-link:hover::before {
    transform: scaleX(1);
}

.formular .card {
    transform: translate(90%, 30%);
    width:450px;
}

.formular .card input {
    width:360px;
}

.airport-form {
    background: linear-gradient(rgba(245, 246,252,0.52), rgba(117, 19, 93, 0.73)), url("../images/path/to/image/background.webp") center no-repeat fixed;
    background-attachment: fixed;
    height: 105vh;
}

.airline-form {
    background: linear-gradient(rgba(245, 246,252,0.52), rgb(86 9 67)), url("../images/path/to/image/pattern.webp") center no-repeat fixed;
        height: 105vh;
}

.flightform .card {
    transform: translate(90%, 30%);
    width:450px;
}

.flightform .card input {
    width:360px;
}

.flightForm {
    background: linear-gradient(rgba(245, 246,252,0.52), rgba(117, 19, 93, 0.73)), url("../images/path/to/image/background.webp") center no-repeat fixed;
    background-attachment: fixed;
    height: 100vh;
}

.mainContent {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}

.images img {
    padding:0 20px 20px;
    height:380px;
    width:380px;
    transform:translateY(65%);
    filter:brightness(60%)
}

.images:hover {
    opacity: .5;
    transition:.5s;
    transform:scale(1.1);
}

.word {
    display: block;
    font-family: Audiowide;
    position:absolute;
    font-size:50px;
    color:white;
}

.word1 {
    transform:translateX(80px);
}

.word2 {
    transform:translateX(95px);
}

.word3 {
    transform:translateX(80px);
}

.word4 {
    transform:translateX(95px);
}

.backgroundRepair {
    background: linear-gradient(rgba(245, 246,252,0.52), rgba(117, 19, 93, 0.73)), url("../images/path/to/image/repair.webp") center no-repeat fixed;
    background-attachment: fixed;
    height:165vh;
}

.admin-title h1 {
    transform: translate(120%, -55%);
    font-family: 'Play', sans-serif;
    color: white;
    font-size: 4em;
    margin:0;
}

.admin-title h3 {
    transform: translate(125%, -105%);
    font-family: 'Play', sans-serif;
    color: #f3c003b8;
    font-size: 2em;
    margin:0;
}

/*media queries for header - starts*/

@media screen and (min-width: 300px) and (max-width: 480px) {

    body {
        height: 300%;
    }

    header {
        height: 50px;
        width:100%;
    }

    .home {
    background-position: top 0px right 0px;
    }

    .welcome {
    letter-spacing: 1px;
    font-size: 1.5rem;
    top: 10%;
}

.welcome-subtitle {
    font-size: .8rem;
    top: 18%;
    }

     .container {
        top: 50px;
    }
}

@media screen and (min-width: 481px) and (max-width:768px) {

    body {
        height: 320%;
    }

     li .nav-link img {
         height: clamp(25px, 5vw, 30px);
         width: auto;
     }
    header {
        height: 50px;
    }

    .home {
    background-position: top 0px right 0px;
    }

    .welcome {
    letter-spacing: 1px;
    font-size: 2rem;
}

.welcome-subtitle {
    font-size: 1rem;
    }

     .container {
        top: 20px;
    }
}

@media screen and (min-width: 769px) and (max-width:1024px){

    body {
        height: 250%;
    }

    header {
        height: 3.5rem;
    }

     header ul li a span {
        display:block;
        font-size: max(.8rem, 1.3vw);
     }

     li .nav-link {
        display: flex;
        flex-direction: column;
        align-items: center;
     }

    li .nav-link img {
         align-items: center;
         height: clamp(20px, 5vw, 25px);
         width: 25px;
     }

     .home {
    background-position: top 0px right 0px;
    }

    .container {
        top: 50px;
    }
}

@media screen and (min-width: 1025px) and (max-width:1200px){

    body {
      height: 200%;
    }

    header {
     top:0;
     height:4rem;
    }

    .nav-link {
        display: flex;
    }

  header ul li a span {
    display: block;
    margin-left:5px;
    }

.logo-img  {
    display:flex;
    justify-content:center;
    }

.logo-img img {
    position:relative;
    width: 80px;
    height: 40px;
    }

    .container {
        top: 0px;
    }
}

@media screen and (min-width: 1201px) {

    header {
         top:0px;
         height:4rem;
    }

    .nav-link {
        display: flex;
    }

  header ul li a span {
        display: block;
        margin-left:5px;
    }

.logo-img  {
        display:flex;
        justify-content:center;
    }

.logo-img img {
        position:relative;
        width: 80px;
        height: 40px;
    }

    .container {
        top: 0px;
    }
}

/*media queries for header - ends*/
